{% extends "base.twig" %}

{#{% block title %}Register{% endblock %}#}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1 class="text-center">Add Image </h1>
    <div class="login-container">
        <form class="form_filetype" action="/addImg" METHOD="POST" enctype="multipart/form-data">
            {{ form_widget(form, {'attr': {'id': 'src'}}) }}
            <img id="thumbnail" src="#" class="img-responsive"/>
        </form>
    </div>


    {% if ok == false %}
        <div class="alert alert-warning text-center">
            <strong>Warning!</strong> Something goes wrong
        </div>
    {% endif %}

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('/thumbnail.js','js') }}" type="text/javascript" charset="utf-8"></script>

{% endblock %}

