{% extends "base.twig" %}

{#{% block title %}Register{% endblock %}#}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        h1{ text-transform: uppercase;}
    </style>
{% endblock %}

{% block content %}
    <h1>Add Image </h1>
    <form action="/addImg" METHOD="POST">
        {{ form_widget(form, {'attr': {'id': 'src'}}) }}
    </form>
    <img id="target"/>

    {% if ok == false %}
        <h3>Something goes wrong</h3>
    {% endif %}

{% endblock %}

