{% extends "base.twig" %}

{#{% block title %}Register{% endblock %}#}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        h1{ text-transform: uppercase;}
    </style>
{% endblock %}

{% block content %}
    <h1>Add Image </h1>
    <form class="form_filetype" action="/addImg" METHOD="POST" enctype="multipart/form-data">
        {{ form_widget(form, {'attr': {'id': 'src'}}) }}
        <img id="thumbnail" src="#" width="200" height="200"  />
    </form>

    {% if ok == false %}
        <h3>Something goes wrong</h3>
    {% endif %}

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('/thumbnail.js','js') }}" type="text/javascript" charset="utf-8"></script>

{% endblock %}

