{% extends "base.twig" %}

{#{% block title %}Register{% endblock %}#}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        h1{ text-transform: uppercase;}
    </style>
{% endblock %}

{% block content %}
    <h1>Register </h1>
    <form action="/users/add"  METHOD="POST" enctype="multipart/form-data">
    {{ form_widget(form) }}
        <img id="blah" src="#"  />
    </form>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('/app.js','js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

