<!DOCTYPE html>
<html>
    <head>
        {%  block styles %}
            <link rel="stylesheet" type="text/css" href="{{ asset('/style.css','css') }}">
        {% endblock %}

        {% block title %}
            <title> PWGRAM </title>
        {% endblock %}

    </head>
    <body>
        <div id="header">
            {% block header %}
                <ul>
                    {% block links %}
                    <a href="/">Home</a>

                    {% endblock %}
                    {% if ( app.session.has('id') ) %}
                        <a href="/users/get">Profile</a>
                        <a href="/addImg">Add Image</a>
                        <a href="/users/photos">My photos</a>
                        <a href="/allComments">All Comments</a>
                        {% else  %}
                            <a href="/users/login">Login</a>
                            <a href="/users/register">Register</a>
                    {% endif %}
                </ul>
            {% endblock %}
        </div>

        <div id="content">
            {% block content %}

            {% endblock %}
        </div>

        <div id="footer">
            {% block footer %}
                <p>PWGRAM - Eric Batlle Clavero · Nuria Gómez Piedrafita</p>
                <p>Copyright 2017</p> {#{{ app.name }}#}
            {% endblock %}
        </div>

        {% block scripts %}
            <script src="{{ asset('/app.js','js') }}" type="text/javascript" charset="utf-8"></script>
        {% endblock %}
    </body>
</html>