{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        h1{ text-transform: uppercase;}
    </style>
{% endblock %}

{% block content %}
    <h1  class="text-center">Edit Comment </h1>
    <div class="login-container">
    <form class="navbar-form" action="/comment/edit/{{ comment.id }}" METHOD="POST" enctype="multipart/form-data">
        {{ form_widget(form, {'attr': {'id': 'src'}}) }}
    </form>
    </div>
{% endblock %}