{% extends "base.twig" %}

{% block content %}
    <div class="alert alert-success" role="alert">
        <a href="" class="alert-link">Hemos enviado un mensaje de confirmacion a su cuenta de correo</a>
    </div>
{% endblock %}