{% extends "base.twig" %}

{#Delete from base.twig#}
{% block title %}{% endblock %}
{% block header %}{% endblock %}

{% block head %}
    <style type="text/css">
        h1{ text-transform: uppercase;}
    </style>
{% endblock %}
{% block content %}
    <h1>ERROR 403 </h1>
{% endblock %}
