{% extends "base.twig" %}

{#{% block title %}Login{% endblock %}#}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        h1{ text-transform: uppercase;}
    </style>
{% endblock %}

{% block content %}
    <h1>Login </h1>
    <form action="/users/login" METHOD="POST">
        {{ form_widget(form) }}
    </form>
    {% if logged == false %}
        <h3>Login and Password not match</h3>
    {% endif %}

{% endblock %}