{% extends "base.twig" %}

{#{% block title %}Login{% endblock %}#}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        h1{ text-transform: uppercase;}
    </style>
{% endblock %}

{% block content %}
    <h1 class="text-center">Login </h1>

    <div class="login-container">
        <div class="media notification">
            <div class="media-left media-middle ">
                <form class="navbar-form login" action="/users/login" METHOD="POST">
                    {{ form_widget(form) }}
                </form>
            </div>
        </div>
    </div>
    {% if logged == false %}
        <div class="alert alert-warning text-center">
            <strong>Warning!</strong> Be sure to activate the account or enter the correct username or password
        </div>
    {% endif %}

{% endblock %}