{% extends "base.twig" %}

{#{% block title %}User info{% endblock %}#}

{% block content %}
    <h1>PROFILE</h1>
    <form action="/profile" METHOD="POST" enctype="multipart/form-data">
        {{ form_widget(form) }}
    </form>

{% endblock %}
