{% extends "base.twig" %}

{% block content %}
    <h1>Your photos</h1>
    {% for i in 1..photos|length if photos|length > 0%}
        <div>
            <img src="/assets/uploads/{{ photos[i-1].img_path }}">
            <h3>Title {{ photos[i-1].title }}</h3>
            <a href="/remove/{{ photos[i-1].id }}" onclick="return confirm('¿Seguro que desea eliminar esta imagen?')">Remove</a>
            <a href="/edit/{{ photos[i-1].id }}">Edit</a>
        </div>
    {% endfor %}
{% endblock %}